{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Lê sơ tản văn{% else %}Lê sơ tản văn{% endif %}
{% endblock %}

{% block head %}
{{super()}}
<meta charset="UTF-8">
<meta name="author" content="Đồng tác giả bởi Trần Thị Kim Trang và Trần Long Châu">
<meta name="keywords" content="history, Vietnam, Lê, lịch sử, Việt Nam">
<meta name="description" content="Nơi lưu lại những án tản văn về thời Lê sơ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='shortcut icon' type='image/x-icon' href='/static/photo/favicon.ico' />
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='mystyle.css')}}">
<link rel="stylesheet"
      href="/static/semantic/dist/semantic.min.css">

    {% if link_css %}
    <link rel="stylesheet" href={{ link_css }}> {% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="/static/semantic/dist/semantic.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{%- block footer %}
<footer class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Về chúng tôi</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Liên hệ</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Dịch vụ</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">How-to</a>
            <a href="#" class="item">Nguồn tham khảo</a>
            <a href="#" class="item">Quyền sử dụng</a>
            <a href="#" class="item">Blog</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Lê sơ tản văn</h4>
          <p>Đây là nơi trình bày những gì mà chúng tôi tìm kiếm được vào thời Lê sơ.</p>
          <p>Nội dung được tổng hợp bởi
            <a href="#">Trần Thị Kim Trang</a>
          </p>
          <p>Trang web được thiết lập bởi
            <a href="https://github.com/Ihsara">Trần Long Châu</a>

          </p>
        </div>
      </div>
    </div>
</footer>
{%- endblock footer %}
{% endblock %}